
<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <p>Tra cứu nhanh thông tin chính xác và ngắn gọn</p>
                <p>© Copyright <strong><span>Truong Quang Tan</span></strong>. All Rights Reserved &copy; @DateTime.Now.Year.ToString()</p>
                <p><a href="https://tqtkamitan.github.io/">Check out My CV</a></p>
                @*<p>Thành lập 05/2022</p>*@              
                @*Q.10, TP HCM, Việt Nam*@
            </div> <!-- /.col-md-6 -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="go-top">
                    <a href="#" id="go-top">
                        <i class="fa fa-angle-up"></i>
                        Home
                    </a>
                </div>
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->