USE [TOMTATNHANH]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/29/2022 9:59:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 7/29/2022 9:59:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenBaiViet] [nvarchar](500) NOT NULL,
	[Alias] [varchar](500) NOT NULL,
	[NoiDungNgan] [nvarchar](1500) NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
	[LuotXemAo] [int] NULL,
	[LuotXem] [int] NULL,
	[NgayUpdate] [datetime] NULL,
	[ThuTuHienThiTrangChu] [int] NULL,
	[ThuTuHienThi] [int] NULL,
	[DaXoa] [bit] NULL,
	[DanhMucId] [bigint] NOT NULL,
 CONSTRAINT [PK_BaiViet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 7/29/2022 9:59:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[BinhLuanChaId] [bigint] NULL,
	[ThanhVienId] [bigint] NULL,
	[BaiVietId] [bigint] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucBaiViet]    Script Date: 7/29/2022 9:59:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucBaiViet](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](500) NOT NULL,
	[Alias] [varchar](500) NOT NULL,
	[Logo] [nvarchar](max) NULL,
	[ThuTuHienThi] [int] NULL,
	[DaXoa] [bit] NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayUpdate] [datetime] NULL,
 CONSTRAINT [PK_DanhMucBaiViet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVien]    Script Date: 7/29/2022 9:59:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVien](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenHienThi] [nvarchar](250) NULL,
	[Email] [nchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](250) NULL,
	[Password] [nvarchar](500) NULL,
	[IsDeleted] [bit] NULL,
	[LoaiTaiKhoanId] [int] NULL,
	[LoaiTaiKhoan] [nvarchar](250) NULL,
 CONSTRAINT [PK_ThanhVien] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/29/2022 9:59:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiViet] ON 

SET IDENTITY_INSERT [dbo].[BaiViet] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucBaiViet] ON 

INSERT [dbo].[DanhMucBaiViet] ([Id], [TenDanhMuc], [Alias], [Logo], [ThuTuHienThi], [DaXoa], [NgayTao], [NgayUpdate]) VALUES (1, N'Danh mục 1', N'Danh-muc-1', NULL, 1, 0, CAST(N'2022-07-29T21:47:40.347' AS DateTime), NULL)
INSERT [dbo].[DanhMucBaiViet] ([Id], [TenDanhMuc], [Alias], [Logo], [ThuTuHienThi], [DaXoa], [NgayTao], [NgayUpdate]) VALUES (2, N'Danh mục 2', N'Danh-muc-2', NULL, 2, 0, CAST(N'2022-07-29T21:47:47.200' AS DateTime), NULL)
INSERT [dbo].[DanhMucBaiViet] ([Id], [TenDanhMuc], [Alias], [Logo], [ThuTuHienThi], [DaXoa], [NgayTao], [NgayUpdate]) VALUES (3, N'Danh mục 3', N'Danh-muc-3', NULL, 3, 0, CAST(N'2022-07-29T21:47:55.427' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[DanhMucBaiViet] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [TaiKhoan], [MatKhau]) VALUES (1, N'admin', N'123')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [FK_BaiViet_DanhMucBaiViet] FOREIGN KEY([DanhMucId])
REFERENCES [dbo].[DanhMucBaiViet] ([Id])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [FK_BaiViet_DanhMucBaiViet]
GO
